<!doctype html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password</title>
<link rel="stylesheet" th:href="@{/css/form.css}" />
</head>
<body>
<section>
	<div class="outer-container">
		<div class="main-container">
			<h1>Change Password</h1>
			<form th:action="@{/customer/change-password}" method="post">
				<input type="text" name="oldPass" placeholder="Enter Old Password" required
					class="input-box" /> <input type="text" name="newPass"
					placeholder="Enter New Password" class="input-box" required/> <input
					type="submit" value="Change" class="submit-btn" />
			</form>
		</div>
	</div>
	</section>
</body>
</html>