<!doctype html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section>
		<div th:if="${orders.size()==0}" class="heading">
			<h1>You have Not booked any parcel.</h1>
		</div>
		<div class="heading" th:unless="${orders.size()==0}">
			<h1>Your Orders</h1>
		</div>
		<div class="card-container">
			<div class="card" th:each="order : ${orders}">
				<img th:src="@{${'/img/'+order.product.images.get(0).imageText}}"
					alt="" /> <span th:text="${order.product.name}" class="title"></span>
				<span th:text="${'₹'+order.product.price}" class="price"></span> <span
					th:text="${'Quant:'+order.quantity}" class="quantity"></span> <span
					th:text="${'Total:'+order.quantity*order.product.price}"
					class="total"></span> <small
					th:text="${'Booking Time '+order.bookingTime}"
					class="left-quantity" style="color: black;"></small>
			</div>
		</div>
		<ul th:if="${totalPage>0}" id="pagination">
			<li th:unless="${currentPage==1}"><a
				th:href="@{'/customer/my-orders/'+${currentPage-1}}" class="page">Previous</a></li>

			<li th:if="${prePage<currentPage && prePage!=0}"><a
				th:href="@{${'/customer/my-orders/'+ prePage}}" th:text="${prePage}"
				class="page"></a></li>
			<li><a th:href="@{${'/customer/my-orders/'+ currentPage}}"
				th:text="${currentPage}" class="page"></a></li>

			<li th:if="${nextPage<totalPage}"><a
				th:href="@{${'/customer/my-orders/'+ nextPage}}" th:text="${nextPage}"
				class="page"></a></li>

			<li th:if="${nextPage<=totalPage}"><a
				th:href="@{${'/customer/my-orders/'+totalPage}}" th:text="Last"
				class="page"></a></li>

			<li th:unless="${currentPage==totalPage}"><a
				th:href="@{'/customer/my-orders/'+${currentPage+1}}" class="page">Next</a></li>
		</ul>
	</section>
</body>
</html>